.modal
{
    display: block;
    background-color: rgba(0,0,0,0.5);
}

.modal-content
{
    background-color: rgb(225,225,225);
}

.modal-body .row{
    min-height: 50px;
}

.modal-header{
    border-bottom: none;
}